/*Estas son las normas generales del documento*/
* {
  margin: 0px;
  padding: 0px;
  cursor: url("../media/cursor.png"), auto;
}
body {
  background-color: white;
  margin: 0px !important;
  padding: 0px !important;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
footer {
  z-index: 1 !important;
  border-top: solid 2px white;
  background-image: url(../media/nav.png);
  margin-top: 1em;
  padding-bottom: 3em;
}
footer .row {
  margin-top: 3em;
}
footer li {
  list-style: none !important;
  color: white;
}
footer li a {
  text-decoration: none;
  color: white;
}
footer p {
  color: white;
}
footer li img {
  width: 15em;
}

/*Clases de estilos del slider principal*/

/*Clases de estilos del slider principal*/

/*clases del footer*/
.redes{
  display: inline-block;
  padding: 3px;
  margin: 3px;
  font-size: 2em;
  transform: all 6s;
}
.redes:hover{
  background-color: white;
  color: black;
}
.lista-pie li{
  display: inline-block;
  font-size: 1em;
  font-family: 'Cinzel', serif;
  margin-left: 1em;
  margin-top: 1em;
}
/*clases del footer*/

/*Aqui terminan los estilos sobre las etiquetas*/

/*Aqui comienzan todos los estilos de la barra de navegacion*/
.navbar {
  margin-bottom: 0px !important;
  border-bottom: solid 2px rgb(255, 189, 74) !important;
  background-image: url(../media/nav.png);
  border: 1px;
  border-radius: 0;
  margin: 0;
}
.navbar-brand{
  margin: 0px !important;
  padding: 0px !important;
}
.navbar-brand img{
  width: 4em;
  height: 2em;
  border: solid 1px;
  padding-top: 0px;
}
nav ul li a {
  color: black !important;
  font-family: 'Cinzel', serif;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

nav ul li {
  -webkit-transition: all 0.3s;
  transition: all 0.6s;
  margin: 0 !important;
}

nav ul li:hover {
  outline: 1px solid #2a2a2a;
}

nav ul li a:hover {
  color: black !important;
  /*font-size: 2em;*/
}

.navbar-brand {
  color: white !important;
  cursor: pointer;
}

.navbar-brand:hover {
  background-color: white !important;
  color: black !important;
}
/*Aqui terminan los estilos de la barra de navegacion*/

/*Aqui comienzan los estilos del jumbotro de las paginas*/
.jumbotron {
  margin: 0;
  margin-top: 3em !important;
  background-image: url(../media/banner.png);
  color: black;
  font-weight: bold !important; /*Fuente en negritas*/
  font-family: 'Cinzel', serif;
}
.jumbotron p {
  color: grey !important;
}
/*Aqui terminan los estilos del jumbotron*/

/*Aqui comienzan los estilos de los paneles y subpaneles de la pagina*/
.control-panel{
  border: solid 1px white;
  padding: 2em;
  margin: 1em;
}
.control-panel img{
width: 100%;
border-right: solid 1px white;
padding: 2em;
height: 100%;
}
.control-panel a{
  margin: 1em;
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: rgb(65, 109, 222);
}
.panel-busqueda {
  background-color: rgb(0, 25, 79);
  color: white;
}
.panel-producto {
  display: block !important;
  margin: 1em;
  width: 20%;
  border: solid 1px;
  background-color: rgb(255, 255, 255);
}
.panel-producto img {
  width: 100%;
  height: 15em;
}
.penel-cuerpo{
  background-color: rgb(5, 31, 75);
}
.penel-cuerpo li {
  list-style: none;
  padding: 1em;
  cursor: pointer;
  color: white;
  transition: all 1s;
}
.productos-relacionados {
  margin: 3em;
}
.panel-datos-compra{
  border-top: solid 1px;
}
.panel-datos-compra li{
  list-style: none;
}

.penel-cuerpo li:hover {
  background-color: white;
  outline: 1px solid black;
  color: black;
}
.panel-domicilio{
  border: solid 1px white;
  margin: 1em;
  padding: 1em;
  background-color: rgba(37, 123, 232, 0.61);
}
.panel-cabecera {
  padding: 1em;
  border-bottom: solid 1px white;
}
.panelPrincipal {
  margin-top: 2em;
  border: solid 1px black;
}
.sub-panel {
  display: inline-block;
  border: solid 1px;
  margin: 1em;
  width: 30%;
}
.sub-panel p {
  text-align: center;
  cursor: default;
}
.sub-panel a {
  margin: 1em;
}
.panelNuevoProducto {
  width: 80%;
  margin: 2em;
}
.precio-producto {
  color: green;
}
.panelNuevoProducto form {
  width: 100%;
  margin-left: 5em;
}
.panelNuevoProducto label, input, select {
  width: 100%;
  text-align: center;
}
.panel-busqueda{
  margin-top: 2em;
  border: solid 1px grey;
}
.panel-heading {
  background-color: rgb(0, 25, 79) !important;
  color: white !important;
}
.panel-seccion li {
  list-style: none !important;
  display: inline-block;
  margin: 2px;
}
.panel-seccion img {
  width: 3em;
}
.panel-carrito{
  display: block;
  border: solid 1px black;
  padding: 1em;
  margin: 1em;
}
.panel-carrito img{
  width: 100%;
}
.panel-carrito h3{
  font-style: italic;
  color: rgb(7, 78, 4);
  font-weight: bold;
}
.panel-total{
  padding: 1em;
  margin: 1em;
  border: solid 1px black;
}
/*Aqui termian los estilos de los paneles y subpaneles*/

/*Aqui comienzan los estilos del slider*/
.box-slider {
margin-top: 3em !important;
}
.slider {
  z-index: 0;
  width: 100%;
}
.slider img {
  width: 100% !important;
  height: 40em !important;
}
.sobre-slider {
  z-index: -1;
  background-image: url(../media/fondo.jpg);
}
/*Aqui terminan los estilos del slider*/

/*Aqui comienzan las clases usadas para imagenes*/
.imagen img {
  width: 100%;
  height: 15em;
}
.imgMarcas li {
  display: inline-block !important;
  list-style: none !important;
  margin: 5px;
}
.imgMarcas img {
  width: 15em;
}

.imgClientes li {
  display: inline-block;
  list-style: none;
  margin: 3em !important;
}
.imagenesProducto {
  margin: 0px !important;
  padding: 0;
}
.imagenesProducto img {
  width: 100%;
  float: left;
}
.pagos-credito img {
  width: 3em;
}
.envios img {
  width: 100%;
}
.imagenCarrito img{
  width: 10em !important;
}
.imagen-blog img{
  width: 100%;
  padding: 2px;
  margin: 2px;
}
/*Aqui terminan las clases de las imagenes*/

/*Aqui comienzan las clases de los botones*/
.btn-primary {
  border-radius: 0 !important;
  background-color: rgb(135, 192, 255);
  color: black;
  /*Tipo de letra de los botones*/
}
.label-test{
  font-family: 'Alegreya SC', serif;
  font-weight: bold;
}
.btn-domicilio{
  border-radius: 0 !important;
  border: 1px solid grey !important;
  background-color: rgb(255, 189, 74) !important;
  color: black;
}
.btn-comprar {
  width: 100%;
  border-radius: 0;
  background-color: rgba(16, 144, 17, 0.86);
  color: black;
}
.btn-actualizar{
  background-color: rgba(10, 105, 246, 0.76);
  border-radius: 0;
}
.btn-eliminar{
  background-color: rgba(77, 16, 16, 0.89) !important;
  color: white;
}
.btn-eliminar:hover{
  color: black !important;
}
.btn-comprar:hover {
  background-color: rgb(31, 79, 5);
  color: white;
}
.btn-carrito {
  width: 100%;
  border-radius: 0;
  background-color: rgb(135, 192, 255);
  color: black;
}
.btn-carrito:hover {
  color: white;
  background-color: rgb(10, 51, 106);
}
.btn-subir{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
/*Aqui terminan las clases de los botones*/

/*Aqui comienzan los estilos de las fuentes*/

.fuente-label{
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold !important; /*Cambiar putos de negritas*/
  font-size: 19px;
}
/*Aqui comienzan las clases especiales de la pagina*/
.carrito{
  color: green;
}
.alinearProductos div {
  margin: 0;
  margin-top: 1em;
  display: inline-block !important;
}
.descripcion-producto li {
  list-style: none;
  margin: 5px;
}
.descripcion-producto li h4 {
  color: green;
}
.descripcionProducto {
  margin-top: 5em !important;
}
.politica li {
  list-style: none;
}
.contenedorBlanco {
  background-color: white !important;
}
.posicion {
  width: 99%;
  background-color: rgb(255, 255, 255);
  margin-top: 3em;
}
.eliminar-espacio {
  margin-top: 0 !important;
}
.fondoBlanco {
  background-color: white;
}
.inicio {
  margin: 1em !important;
}
.inicio video {
  width: 100%;
  border: solid 1px rgb(13, 67, 124);
}
.admin a {
  color: black !important;
}
.texto-entrada {
  max-width: 100%;
  height: 10em !important;
  max-height: 15em;
}
.privacidad {
  margin-top: 1em;
}
.privacidad li {
  text-align: justify;
}
.mapaAzul {
  width: 100% !important;
  height: 30em;
}
.separador {
  margin-top: 2em;
}
.blog {
  margin: 1em;
}
.comprar {
  display: inline-block;
}
.disminuir {
  width: 1em;
}
.cantidad {
  width: 3em;
}
.aumentar {
  width: 1em;;
}
.titulo-entrada {
  margin-top: -2em;
}
.cuerpo-titulo-entrada {
  padding: 7em;
}
.cuerpo-titulo-entrada h1 {
  color: rgb(182, 251, 249);
  font-size: 3em;
  font-family: 'Mina', sans-serif;
}
.cuerpo-titulo-entrada h2 {
  color: rgb(182, 251, 249);
  font-family: 'Great Vibes', cursive;
}
.cuerpo-titulo-entrada h3 {
  color: rgb(182, 251, 249);
  font-family: 'Mina', sans-serif;
}
.cuerpo-titulo-entrada h4 {
  color: rgb(182, 251, 249);
  font-family: 'Mina', sans-serif;
}
.promo {
  color: rgb(60, 210, 66);
}
/*Estilos de modal*/
.pagos-credito {
  width: 98%;
}
.pagos-credito li {
  list-style: none;
  display: inline-block;
  margin: 1em;
  color: green;
}
.perfil-usuario {
  margin: 3em;
}
.preferencias-usuario a li {
  list-style: none !important;
}
.transmicion iframe{
  width: 80% !important;
  height: 30em;
  margin: 1em;
}
.categorias a{
color: black !important;
}
.circulo{
  border-radius: 50% !important;
  background-color: rgb(60, 210, 66) !important;
  padding: 3px;
  cursor: none;
}
.ventas{
  border: solid 1px black;
  padding: 1em;
}
.ventas-head{
  font-size: 1em !important;
  border-bottom: solid 1px black;
}
/*Aqui terminan las clases especiales de la pagina*/

/*Aqui pondre retrasos para las animaciones*/
.retraso {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.retraso2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.retraso3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.retraso4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.retraso5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.retraso6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.retraso7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.retraso8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.retraso9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.retraso10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
/*Aqui terminan los estilos de los retrasos de los efectos de animacion*/

/*Aqui comienzan los estilos unicos*/
#carrito{
  color: rgb(30, 223, 62);

}
#carritoCero{
  color:rgb(222, 133, 29);
}
#categorias{
list-style: none;
}
#categoria ul li{
  padding: 1em !important;
}
#busqueda{
  border: solid 1px white;
  margin: 1em;
  padding: 2em;
}
#categorias button{
  color: black;
  width: 100%;
}
#categorias li{
  padding: 1em;
}
#categorias li:hover{
  background: rgb(103, 132, 240);
  outline: 1px solid #2a2a2a;
  font-style: none !important;
}
.no-modificable{
  border: solid 1px grey;
  margin-top: 0;
}
/*Aqui terminan los estilos unicos*/

/*Estos son los media query para el diseño responsivo*/
@media screen and (max-width: 460px) {
  footer li img {
    width: 10em;
  }
  .panel-producto {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  /*Aqui estan los media query del sidebar*/
  .slider img {
    height: 20em !important;
  }
  .box-slider {
    height: 20em;
  }
  footer li img {
    width: 10em;
  }
  .panel-producto {
    width: 100%;
  }
  .sub-panel {
    width: 40%;
  }
  .posicion {
    margin: 8px;
  }
}
@media screen and (max-width: 990px) {
  .panel-producto {
    width: 100%;
  }
  .sub-panel {
    width: 40%;
  }
}
@media screen and (min-width: 1100px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1320px) {}
/*Aqui terminan los media query*/
